/* colours we are using are : 
#1D2B1F for header/footer and banners (see in visual design)
#FDFFF4 for link/nav/text on darker backgrounds
#C3DE72 for banner/buttons
#EAF1D3 for background colour*/

@media screen and (min-width: 769px) {
    
/*--------------------------------- HEADER & NAV --------------------------------*/
header{
    background-color: #1D2B1F;
    height: 10.5vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

nav{
    display: flex;
    flex: 6;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav > a {
    color: #FDFFF4;
    text-decoration: none;
    font-size: 18px;
}

nav> a:hover {
    text-decoration: underline;
    font-size: 20px;
}

.banner{
    background-color: #C3DE72;
    top: 0%;
    height: 14vh;
    max-width: 100vw;
}

.logo{
    margin-top: -58px;
}

.profile{
    margin-top: -100px;
    margin-left: 1180px;
}

/* -------------------------------BODY------------------------------ */

.homeimg{
    height: 40% ;
    width: 50% ;
}

main{
    background-color: #EAF1D3;
    height: 155vh;
    max-width: 100vw;
}

.heading{
    float: right;
}

.title{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Home */
.paragraph{
    font-size: 20px;
    margin-top: -15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about{
    margin-top: -60px;
}

#mainbutton{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

/* Buttons */
.button {
    background-color: #C3DE72;
    border: 0;
    border-radius: 60px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
  }

.button:hover{
    background-color: #1D2B1F;
    color: #FDFFF4;
}

.href{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.href:hover{
    color: #FDFFF4;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Lunch & Diner */

#gerechten{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 200px);
    column-gap: 30px;
    margin: 14px 40px 30px;
}

article > img {
    height: 70%;
    width: 70%;
}

.gerechtenfood{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4%;
    column-gap: 30px;
}

/* Openingstijden & Locatie */
#time{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.house{
    width: 80vh;
    height: 40vh;
}

.gegevens{
    margin: 20px;
}

/* ---------------------------------------FOOTER---------------------------------- */
footer{
    background-color: #1D2B1F;
    height: 10.5vh;
    max-width: 100vw;
    bottom: 0;
}

.social{
    display: flex;
    flex-direction: row-reverse;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: -55px;
    color: #FDFFF4;
}
}

/*-------------------------------------------------- TABLET & MOBIEL ------------------------------------------------------*/
@media screen and (max-width: 768px) {

/*------------------------ HEADER & NAV --------------------------------*/

header{
    background-color: #1D2B1F;
    height: 13vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

.banner{
    background-color: #C3DE72;
    top: 0%;
    height: 17vh;
    max-width: 100vw;
}

.logo {
    margin-top: -700px;
    display: flex;
    justify-content: end;
}

/* -------------------------------main----------------------------------------- */
main{
    background-color: #EAF1D3;
    height: 150vh;
    max-width: 100vw;
}

/* NAV */
.menu-items {
    display: flex;
    flex-direction: row;
  }
  
.checkbox {
    position: absolute;
    display: block;
    height: 40px;
    width: 38px;
    margin-top: -20px;
    margin-right: 10px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    top: 13px;
    left: 18px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FDFFF4;
  }
  
.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
.line2 {
    transition: transform 0.2s ease-in-out;
  }
  
.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
.menu-items {
    height: 100vh;
    width: 100%;
    background-color: #1D2B1F;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    gap: 8%;
    transition: transform 0.5s;
  }

  nav > a {
    color: #FDFFF4;
    font-size: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  nav > a:hover {
    color: #FDFFF4;
    font-size: 22px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

/* Buttons */
.button {
    background-color: #C3DE72;
    border: 0;
    border-radius: 60px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
  }

.button:hover{
    background-color: #1D2B1F;
    color: #FDFFF4;
}

.paragraph{
    font-size: 16px;
    margin-top: -15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gerechtenfood{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

.href:hover{
    color: #FDFFF4;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.href{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gerechtenfood{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    gap: 4%;
    column-gap: 30px;
}

article > img {
    height: 30%;
    width: 30%;
}

.gerechten{
    display: flex;
    flex-direction: column;
}

/* ----------------------------------------footer--------------------------------------- */
footer{
    background-color: #1D2B1F;
    height: 10.5vh;
    max-width: 100vw;
    bottom: 0;
}

.social{
    display: flex;
    flex-direction: row-reverse;
    color: #FDFFF4;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    color: #FDFFF4;
}
}